* {
    margin: 0;
    padding: 0;
}

/* .box{
    background-color: aqua;
    border: 2px solid red;
    width: 25%;
} */

/* .parent {
    background-color: black;
    border: 2px solid grey;
}

.child {
    background-color: brown;
    border: 2px solid yellow;
    width: 20%;
} */

.container {
    background-color: tan;
    border: 2px solid black;
    width: 50vw;
    height: 100vh;
}
